/* HTML
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body{
	height: 100vh;
}

/* navigation bar
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
nav{
	background: #263238;
	display: inline;
}

nav a{
	color: #FFF;
	text-decoration: none;
	font-size: 150%;
	cursor: pointer;
}

#logo{
	height: 100%;
	padding: .5em 1em ;
	background: #263238;
	font-size: 120%;	
	-webkit-transition: background-color .3s;

}

#logo a:hover{
	color: #FFF;
}



#nav-btns a{
	-webkit-transition: color .3s;

}

#nav-btns a:hover{
}

#nav-btns{
	padding: .5em  3em;
	min-width: 60vw;
	background: black;
	float: right;
}

#nav-btns a{
	padding: 0em .5em ;
	float: right;
	font-size: 180%;
	height: 100%
}

/* Content
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#canvas{
	display: block;
	width: 100%;
	min-height: 80vh;
	height: auto;
}

button {
       bottom: 9vh;
       right:6vw;
       position: fixed;
       z-index: 3000;
       transform: scale(1.5);
       transition: all .3s;
}

button:hover{
	transform: scale(1.8);
}

.landing{
	background: #f5f5f5;
	min-height: 75vh;
	font-size: 150%;
	padding-bottom: 4em;
	padding-top: 25vh;
}

.landing  img,
 .landing  h2,
  .landing  p,
   .landing  a,
    .landing  input,
     .landing  label,
      .landing  select{
	opacity: 0;
}

.visible{
	opacity: 1 !important;
}
.course-logo{
	max-width: 200px;
	height: auto;
}

.com-logo{
	height: auto;
	padding-top: 2em;
}

.com-logo:nth-child(2){
	margin-left: 1px;
}

.button{
	background-color: #FFF;
	transition: all .3s;
	width: 50%
	padding: .8em .6em;
}

.button:hover{
	color: #FFF !important;
	background-color: black;
}

.button-primary{
	margin-top: 1.5em;
}

#six{
	padding: 0px ;
	background: white;
}

/* form
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#form{
	padding-top: 15vh;
	height: 85vh;
}

#form h2{
	padding: .5em;
	background: #f5f5f5;
}

@media screen and (max-width:750px){

	html, body{
		min-height: 100vh;
		width: 100vw;
	}

	nav{
		width: 100vw;
		display: block;
	}

	nav a{
	height: 100%;
	color: #FFF;
	text-decoration: none;
	font-size: 120%;
	cursor: pointer;
	display: inline;
	}

	#logo{
		display: inline;
		height: 100%;
	}
}